/* Flexbox setup */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.x-axis {
    font-weight: bold;
    padding: 15px 0 0 0;
    text-align: center;
}

.y-axis {
    font-weight: bold;
    padding: 175px 20px 0 20px;
}


/* Segmented bed grid */
div#heatbed {
    /*border-color: black;*/
    border-style: solid;
    border-width: 5px;
    text-align: center;
}

div#heatbed > div {
    /*border-color: black;*/
    border-style: dashed;
    border-width: 1.5px;
    height: 90px;
    width: 90px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: grid;
}

.grid-container {
    display: grid;
    border-image-width: 0;
    gap: 0;
    columns: 4;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}


/* Per-tile coloring */
.tileDisabled {
    background-color: silver;
    color: black;
    vertical-align: middle;
}

.tileCooling {
    background-color:steelblue;
    color: white;
    vertical-align: middle;
}

.tileHeating {
    background-color: salmon;
    color: black;
    vertical-align: middle;
}


/* Generic styles */
.subheading {
    font-weight: normal;
}

.explanation {
    padding-bottom: 20px;
    padding-top: 20px;
}
