<h3>Segmented Heat Bed Tiles</h3>

<table class="heatbed">
  <tr>
    <td id="cell0_3" data-bind="html: cell0_3, class:cell0_3class">B3_0</td>
    <td id="cell1_3" data-bind="html: cell1_3, class:cell1_3class">B3_1</td>
    <td id="cell2_3" data-bind="html: cell2_3, class:cell2_3class">B3_2</td>
    <td id="cell3_3" data-bind="html: cell3_3, class:cell3_3class">B3_3</td>
  </tr>
  <tr>
    <td id="cell0_2" data-bind="html: cell0_2, class:cell0_2class">B2_0</td>
    <td id="cell1_2" data-bind="html: cell1_2, class:cell1_2class">B2_1</td>
    <td id="cell2_2" data-bind="html: cell2_2, class:cell2_2class">B2_2</td>
    <td id="cell3_2" data-bind="html: cell3_2, class:cell3_2class">B2_3</td>
  </tr>
  <tr>
    <td id="cell0_1" data-bind="html: cell0_1, class:cell0_1class">B1_0</td>
    <td id="cell1_1" data-bind="html: cell1_1, class:cell1_1class">B1_1</td>
    <td id="cell2_1" data-bind="html: cell2_1, class:cell2_1class">B1_2</td>
    <td id="cell3_1" data-bind="html: cell3_1, class:cell3_1class">B1_3</td>
  </tr>
  <tr>
    <td id="cell0_0" data-bind="html: cell0_0, class:cell0_0class">B0_0</td>
    <td id="cell1_0" data-bind="html: cell1_0, class:cell1_0class">B0_1</td>
    <td id="cell2_0" data-bind="html: cell2_0, class:cell2_0class">B0_2</td>
    <td id="cell3_0" data-bind="html: cell3_0, class:cell3_0class">B0_3</td>
  </tr>
</table>
