<h3>Segmented Heat Bed Tiles</h3>
<div class="subheading">Each tile shows the tile name, the current (Now) temperature, and the target (Tgt) temperature in that order.  <br/>[For super-nerds, each tile below is as wide in pixels as the physical tiles are in millimeters!]</div>
<div class="explanation">Inactive tiles with a target temp of 0 are grayed out.</div>

<!-- High-level positioning container -->
<div class="flex-container">
    
    <!-- Left column container -->
    <div class="flex-items">
        <div class="y-axis">Y axis</div>
    </div>
    
    <!-- Right column container -->
    <div class="flex-items">
        <div data-bind="foreach: heatbedTileArray" class="grid-container" id="heatbed">
            <div data-bind="css: Style">
                <span data-bind="text: Tile"></span>
                <span>
                    <span>Now</span>
                    <span data-bind="text: Current"></span>
                </span>
                <span>
                    <span>Tgt</span>
                    <span data-bind="text: Target"></span>
                </span>
            </div>
        </div>
        
        <div class="x-axis">X axis (Front edge)</div>
    </div>
</div>
